header{
    background-image: url(img/pattern.png);
    background-color: #4EA0FF;
    height: 180px;
    background-size: 600px;  

}
#titolo{
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 0px;
}
#logo{
    height: 85px;
    margin-top: 80px;

}
small{
    color: #808080;
    font-size: 27px;
    margin-top: 0px;
}
#autore{
    color: #20A9E5;
}
#foto1{
    height:400px;
}
#foto2{
    height: 400px;
}
.Paragrafo{
    font-size: 25px;
}
ul{
    padding-left: 18px;
    font-size: 25px;
}
#headrow{
    background-color: #20A9E5;
    color: white;
    font-size: 20px;
}
table{
    font-size:20px;
}
.rigadispari{
    background-color: #20A9E5;
}